@import "/../index.scss"; // Variables.

/* Page layout */
.header {
  z-index: 1;
  background: $page-background;
  color: $page-background;
  padding: 0 !important;
}

.app_content {
  min-height: 400px;
  background-color: #fff;
}
