@import "/../index.scss"; // Variables.

/* Page layout */
.header {
  z-index: 1;
  background: $page-background;
  color: $page-background;
  padding: 0 !important;
}

.app__content {
  padding-top: 1em;
  margin: auto;
  width: 80%;
}
