@import "../index.scss";

.container {
  position: relative;  
  height: 100%;
}

.vertical {
  position: relative;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.spinner {
  color: $p4;
  font-size: 100px;
}
