@import "../../index.scss"; // Variables

.header {
  position: "fixed";
  z-index: 1;
  width: 100%;
  background: $page-background;
  color: $page-background;
  padding: 0 !important;
}

.app_content {
  border: 1px solid white;
  min-height: 280px;
  padding: 1em;
}
ul {
  color: $page-background !important;
}

.menu {
  width: 100%;
  line-height: 64px;
}

.menu_item {
  font-size: 24px;
  color: $page-background !important;
}

.auth_button {
  margin-top: 1px;
  float: right;
  height: 64px;
  font-size: 24px;
}

.auth_info {
  position: relative;
  top: -67px;
  margin-right: 15px;
}

.icon {
  font-size: 24px;
}

.userInfo {
  float: right;
  font-size: 24px;
  padding-right: 1em;
}
