// Variables & globals.

@import '~antd/dist/antd.css';
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
}

$page-background: #2c3e50;
$p1: #16a085;
$p2: #27ae60;
$p3: #2980b9;
$p4: #8e44ad;

#root {
  position: relative;
  width: 100%;
  margin: auto;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $page-background;
}
